In [5]:
import pandas as pd
data = pd.read_csv('Advertising.csv', index_col=0)
data.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [7]:
data.tail()

        TV  radio  newspaper  sales
196   38.2    3.7       13.8    7.6
197   94.2    4.9        8.1    9.7
198  177.0    9.3        6.4   12.8
199  283.6   42.0       66.2   25.5
200  232.1    8.6        8.7   13.4

In [14]:
feature_cols = ['TV', 'radio', 'newspaper']
X = data[feature_cols]
X= data[['TV','radio','newspaper']]

In [17]:
y=data['sales']
y=data.sales
y.head()

1    22.1
2    10.4
3     9.3
4    18.5
5    12.9
Name: sales, dtype: float64

In [20]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [24]:
from sklearn.linear_model import LinearRegression
linereg=LinearRegression()
linereg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [28]:
print(linereg.intercept_)
print(linereg.coef_)

2.87696662232
[ 0.04656457  0.17915812  0.00345046]

In [30]:
zip(feature_cols,linereg.coef_)

In [39]:
y_pred=linereg.predict(X_test)
true = [100, 50, 30, 20]
pred = [90, 50, 50, 30]

In [41]:
print((10 + 0 + 20 + 10) / 4)
from sklearn import metrics
print(metrics.mean_absolute_error(true, pred))

10.0
10.0

In [45]:
import numpy as np
print((10**2 + 0**2 + 20**2 + 10**2) / 4)
print(np.sqrt(metrics.mean_squared_error(true, pred)))

150.0
12.2474487139

In [47]:
print(np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

1.40465142303

In [50]:
feature_cols = ['TV', 'radio']
X = data[feature_cols]

In [53]:
y = data.sales
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
linereg.fit(X_train, y_train)
y_pred = linereg.predict(X_test)
print(np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

1.38790346994